@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Jacques+Francois+Shadow&display=swap');

*{
  margin: 0;
  padding: 0;
}

nav {
  filter: drop-shadow(5px 5px 4px #CBC6B9);
  background-color: #E4CBBE;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
}

nav li {
  height: 150px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  font-size: 26px;
}

nav a:hover {
  color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #E4CBBE;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
  font-size: 20px;
}

.menu-button {
  display: none;
}

.imgWelcome {
  position: absolute;
  width: 502.72px;
  height: 620px;
  left: 870.12px;
  top: 185px;
  border: 3px solid #E4CBBE;
  }

  .imgCardboard {
  position: absolute;
  width: 1417px;
  height: 220px;
  top: 768px;

  }

.welcome {
  position: absolute;
  width: 1417px;
  height: 677px;
  left: 0px;
  top: 158px;
  background-color: #AD6D64;
  }

  h1 {
  position: absolute;
  width: 632.1px;
  height: 114px;
  left: 120.49px;
  top: 100px;
  font-family: 'Jacques Francois Shadow';
  font-weight: 400;
  font-size: 50px;
  line-height: 66px;
  text-align: center;
  color: #FFFFFF;
  }

  p {
  position: absolute;
  width: 702.22px;
  height: 249px;
  left: 97.78px;
  top: 260px;
  font-family: 'Itim';
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  }

@media (max-width: 800px) {
  
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
    margin-top: auto;
  }


  .logo {
    height: 100px;
  }

}



  
